In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1, 3, np.nan, 6, 8])
s

0     1
1     3
2   NaN
3     6
4     8
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

<class 'pandas.tseries.index.DatetimeIndex'>
[2013-01-01, ..., 2013-01-06]
Length: 6, Freq: D, Timezone: None

In [5]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.671377 -1.032785 -1.427736  0.505236
2013-01-02 -1.047881 -1.164366  0.239980 -0.420638
2013-01-03  0.003958 -0.284129 -1.237075  0.622673
2013-01-04 -0.162149  1.530658  0.310590  1.993105
2013-01-05  0.471848  0.468850 -0.009575 -0.073702
2013-01-06 -0.256514  1.096524 -1.302767 -0.171414

In [6]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D': np.array([3] * 4, dtype='float32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'foo' })
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo